<!DOCTYPE html>
<html lang="en">

<head>
<script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.1.1/crypto-js.min.js"></script>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="referrer" content="strict-origin-when-cross-origin">
<!-- Meta Pixel Code -->
<% if (process.env.FB_PIXEL_ID) { %>
<!-- Facebook Pixel Code -->


<script>
!function(f,b,e,v,n,t,s)
{if(f.fbq)return;n=f.fbq=function(){n.callMethod?
n.callMethod.apply(n,arguments):n.queue.push(arguments)};
if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
n.queue=[];t=b.createElement(e);t.async=!0;
t.src=v;s=b.getElementsByTagName(e)[0];
s.parentNode.insertBefore(t,s)}(window, document,'script',
'https://connect.facebook.net/en_US/fbevents.js');

// Create config object dynamically
var pixelConfig = {};

// Only add parameters that have values
<% if (user && user.email) { %> pixelConfig.em = '<%= user.email %>'; <% } %>
<% if (user && user.firstName) { %> pixelConfig.fn = '<%= user.firstName %>'; <% } %>
<% if (user && user.lastName) { %> pixelConfig.ln = '<%= user.lastName %>'; <% } %>
<% if (user && user.numero) { %> pixelConfig.ph = '<%= user.numero %>'; <% } %>
<% if (user && user._id) { %> pixelConfig.external_id = '<%= user._id %>'; <% } %>

// Initialize with dynamic config
fbq('init', '<%= process.env.FB_PIXEL_ID %>', pixelConfig);
fbq('track', 'PageView');

</script>
<noscript>
  <img height="1" width="1" style="display:none" 
       src="https://www.facebook.com/tr?id=<%= process.env.FB_PIXEL_ID %>&ev=PageView&noscript=1"/>
</noscript>
<!-- End Facebook Pixel Code -->
<% } %>



<!-- Meta Pixel Code -->

<!-- End Meta Pixel Code -->

<!-- End Meta Pixel Code -->

<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-K8PWQM45');</script>
<!-- End Google Tag Manager -->


<link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
  <meta name="facebook-domain-verification" content="plfly5a8dktgdy17nvv2h8zsrpc9g5" />
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Paintello</title>
  
<link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
<link rel="manifest" href="/favicon/site.webmanifest">  
  <meta name="theme-color" content="#ffffff">  <link href='https://cdn.jsdelivr.net/npm/boxicons@2.0.5/css/boxicons.min.css' rel='stylesheet'>
  <link rel="stylesheet" href="/assets/vendor/font-awesome/css/fontawesome-all.min.css">
  <link rel="stylesheet" href="/assets/vendor/animate.css/animate.min.css">
  <link rel="stylesheet" href="/assets/vendor/hs-megamenu/src/hs.megamenu.css">
  
  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
  <!-- Bootstrap core CSS -->
  <link href="/css/bootstrap.min.css" rel="stylesheet">
  <link href="/css/bmo.min.css" rel="stylesheet">
<!-- Add the slick-theme.css if you want default styling -->
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
<!-- Add the slick-theme.css if you want default styling -->
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css"/>
  <!-- Material Design Bootstrap -->
  <link href="/css/mdb.min.css" rel="stylesheet">
  <link href="/css/magiczoomplus.css" rel="stylesheet">
  <link href="/css/zoomm.css" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>

<!-- Bootstrap core CSS -->
  <link href="../../css/bootstrap.min.css" rel="stylesheet">
  <!-- Material Design Bootstrap -->
  <link href="../../css/mdb.min.css" rel="stylesheet">

 


  <style>
.logo {
  font-size: 2.5rem;
  font-weight: bold;
  letter-spacing: 2px;
}
  
    .zoom {
 
  transition: transform .2s; /* Animation */
 
}
  


.zoom:hover {
  transform: scale(2); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
right: 12px;
    bottom: 12px;
    top: auto;
    left: auto;
}
   
.img{
  display: block;
  max-width: 230px;
  max-height: 95px;
  width: auto;
  height: auto;
}
      .prod-listing {
    position: relative;
    }
    .list-unstyled {
    padding-left: 0;
    list-style: none;
}
    html,
    body,
    header,
    
    
    .view {
      height: 100%;
    }
    @media (min-width: 851px) and (max-width: 1440px) {
      html,
      body,
      header,
     
     
      .view {
        height: 850px;
      }
    }
    @media (min-width: 800px) and (max-width: 850px) {
      html,
      body,
      header,
      
      
      .view {
        height: 1000px;
      }

    }
@media (min-width: 451px) and (max-width: 740px) {
      html,
      body,
      header,
      .view {
        height: 1200px;
      }
    }
    @media (max-width: 450px) {
      html,
      body,
      header,
      .view {
        height: 1400px;
      }
  }
    .categories, .deals {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
      gap: 20px;
    }

    .card {
      background: #fff8f0;
      border: 1px solid #f9d9a9;
      padding: 20px;
      border-radius: 12px;
      text-align: center;
    }

    .card h3 {
      margin: 10px 0;
    }

  
</style>

<script id='pixel-script-poptin' src='https://cdn.popt.in/pixel.js?id=1f8ed2afe3695' async='true'></script>

</head>


<body>
  <!-- Navigation & Intro -->
  <header>

    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top scrolling-navbar white">
      <div class="container">
        <a class="navbar-brand font-weight-bold title" href="/">Paintello</a>
        <!--Navigation icons-->
        <ul class="nav navbar-nav nav-flex-icons ml-auto">
          <li class="nav-item dropdown">
                       <a class="nav-link dropdown" id="menu1" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-user  black-text"></i>
                      </a>
                      <div class="dropdown-menu dropdown-menu-right bootstrap-menu  white scrollbar-default" aria-labelledby="menu1">
                        <% if (login){ %>
                          <a class="dropdown-item" href="/user/profile">profile</a>
                           <a class="dropdown-item" href="/user/logout">Logout</a>
                           <% } else{ %>
                           <a class="dropdown-item" href="/user/signup">Register</a>
                           <a class="dropdown-item" href="/user/signin">Sing up</a>
                           <a class="dropdown-item" href="/track-login">Track Order</a>
                           <% } %>
                 </div> 
          </li>
          <li class="nav-item ">
                      <a class="nav-link " id="menu2" href="/shop" role="button"  aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-shopping-cart black-text"></i>
                        <% if(session.cart){ %>
                      <span class="mycounter"><%= session.cart.totalQty %></span>
                      <% } %>
                      </a>
          </li>
    
        </ul>
        
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02"
          aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
          
        </button>
        
        
        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
          <ul class="list-unstyled navbar-nav mr-auto">
         
            
            <li class="nav-item ml-4">
              <a class="nav-link title" href="/contact" data-offset="90">Nos Services</a>
            </li>
            <li class="nav-item ml-4">
              <a class="nav-link title" href="/sale/clean" data-offset="90">interior paint</a>
            </li>
            <li class="nav-item ml-4">
              <a class="nav-link title" href="/sale/furniteur" data-offset="90">Vinyl paint</a>
            </li>
            <li class="nav-item ml-4">
              <a class="nav-link title" href="/sale/wow" data-offset="90">outils</a>
            </li>
            <li class="nav-item ml-4">
              <a class="nav-link title" href="/track-login" data-offset="90">Returns</a>
            </li>
            
          </ul>
          
          <!-- Social Icon  -->
         
              </div>
      </div>
  
         
      </div>
      </div>
    </nav>
 
<section class="view intro-2" style="background-image: url(https://live.staticflickr.com/65535/54424056395_fe456898d8_k.jpg); background-repeat: no-repeat; background-size: cover; background-position: center center;">
      

        <div class="container h-100 d-flex justify-content-center align-items-center">
          <div class="row h-100 d-flex justify-content-center align-items-center">

            <div class="col-md-10 col-lg-6 text-center text-md-center mt-5 pt-4 pt-md-0 mt-lg-0 mb-5 mb-md-0">
             <div class="white-text">
                <h1 class="h1-responsive font-weight-bold mt-sm-5 mb-4 wow fadeInLeft" data-wow-delay="0.3s">Transform Your Home with Color & Comfort</h1>
                <hr class="hr-light wow fadeInLeft" data-wow-delay="0.3s">
 <a class="btn btn-white btn-rounded btn-lg orange-text font-weight-bold ml-lg-0 wow fadeInLeft" data-wow-delay="0.4s" href="/"><img src="/favicon/android-chrome-192x192.png" alt="Paintello Logo" style="max-height: 80px;"></a>
 <a class="btn btn-white btn-rounded btn-lg orange-text font-weight-bold ml-lg-0 wow fadeInLeft" data-wow-delay="0.4s" href="/paintello"><img src="/img/logo.png" alt="Paintello Logo" style="max-height: 80px;"></a>
              </div>

            </div>

            

          </div>
        </div>
      
    </section>
    
<div class="mb-4"> 
 <div class="mb-4"> 
     
      
      
      
  </header>

<h2 class="text-center text-uppercase">Tools Paint</h2>

<div class="bm-page">
<div class="container">
<div class="row">
<% tools.forEach(function(tool){ %>
<div class="order-lg-last">
<div class="mb-4 mb-lg-5 bm-content">
<div class="mb-4">
</div>
<div class="prod-listing">
<div class="d-none fa-3x prod-loading">
<i class="fas fa-circle-notch fa-spin"></i>
</div>
<div aria-hidden="true" class="row border-bottom mt-4 mx-md-auto"></div>
<ul class="row list-unstyled mb-0">
<li class="col-sm-6 col-md-4 bm-col-md bm-product-item">
<div class="align-items-center d-flex h-100 bm-product-link" href="/products/high-performance-rubber-underlay-3mm-365430">	
<div class="flex-shrink-0 mw-100 position-relative bm-product-link-img">
<img id="myImg" class="myImgLightBox"  width="200" height="240" src="<%= tool.image %>" >	
<!-- The Modal -->
<div id="myModal" class="modal">
  <!-- The Close Button -->
  <span class="close" id="span">&times;</span>
  <!-- Modal Content (The Image) -->
  <img class="modal-content" id="img01">
  <!-- Modal Caption (Image Text) -->
  <div id="caption"></div>
</div></div>
<div class="flex-fill mw-100 bm-product-link-text">
<h3 class="d-block font-weight-normal h6 mb-0 text-body"><%= tool.title %></h3>
<span class="d-block h5 mb-0 mt-1 text-body"><%= tool.price %>DA</span>
<form action="/add-to-cart-tool/<%= tool._id %>" method="GET" 
      onsubmit="return handleAddToCart(event, '<%= tool.title %>', <%= tool.price %>, '<%= tool._id %>')">
  <button type="submit" class="btn btn-primary btn-lg mb-4">
    <i class="fas fa-cart-plus mr-2"></i>Add to Cart
  </button>
</form>

</div>	
</div>	
</li>

</ul>
<div aria-hidden="true" class="row border-bottom mb-4 mx-md-auto"></div>
</div>
<script>
// Delay ViewContent to ensure pixel is loaded
setTimeout(function() {
  fbq('track', 'ViewContent', {
    content_name: '<%= tool.title %>',
    content_ids: ['<%= tool._id %>'],
    content_type: 'product',
    value: <%= tool.price %>,
    currency: 'DZD',
    contents: [{
      id: '<%= tool._id %>',
      quantity: 1,
      item_price: <%= tool.price %>
    }]
  }, {
    eventID: '<%= metaEventIdView %>'
  });
}, 2000);
</script>


<script>
  function handleAddToCart(event, title, price, id) {
    // Fire AddToCart event
    fbq('track', 'AddToCart', {
      content_name: title,
      content_ids: [id],
      content_type: 'product',
      value: price,
      currency: 'DZD',
      contents: [
        {
          id: id,
          quantity: 1,
          item_price: price
        }
      ]
    }, {
      eventID: '<%= metaEventIdCart %>'
    });

    return true; // let the form submit continue
  }
</script>


</div>
</div>
<% }); %>
</div>
</div>
</div>





<%- include ("../partials/footer") %>.
