
<%- include ("../partials/header") %>.


<h2 class="text-center text-uppercase">Hands Tools</h2>

<div class="bm-page">
<div class="container">
<div class="row">
<% hands.forEach(function(hand){ %>
<div class="order-lg-last">
<div class="mb-4 mb-lg-5 bm-content">
<div class="mb-4">
</div>
<div class="prod-listing">
<div class="d-none fa-3x prod-loading">
<i class="fas fa-circle-notch fa-spin"></i>
</div>
<div aria-hidden="true" class="row border-bottom mt-4 mx-md-auto"></div>
<ul class="row list-unstyled mb-0">
<li class="col-sm-6 col-md-4 bm-col-md bm-product-item">
<div class="align-items-center d-flex h-100 bm-product-link" href="/products/high-performance-rubber-underlay-3mm-365430">	
<div class="flex-shrink-0 mw-100 position-relative bm-product-link-img">
<img id="myImg" class="myImgLightBox"  width="200" height="240" src="<%= hand.image %>" >	
<!-- The Modal -->
<div id="myModal" class="modal">
  <!-- The Close Button -->
  <span class="close" id="span">&times;</span>
  <!-- Modal Content (The Image) -->
  <img class="modal-content" id="img01">
  <!-- Modal Caption (Image Text) -->
  <div id="caption"></div>
</div></div>
<div class="flex-fill mw-100 bm-product-link-text">
<h3 class="d-block font-weight-normal h6 mb-0 text-body"><%= hand.title %></h3>
<span class="d-block h5 mb-0 mt-1 text-body"><%= hand.price%>DA</span>
<a href="/add-to-cart-hand/<%= hand._id %>"class="btn btn-pink btn-rounded"><i class="fas fa-cart-plus mr-2" aria-hidden="true"></i>buy</a>
</div>	
</div>	
</li>

</ul>
<div aria-hidden="true" class="row border-bottom mb-4 mx-md-auto"></div>
</div>


</div>
</div>
<% }); %>
</div>
</div>
</div>


<%- include ("../partials/footer") %>.
