
<%- include ("../partials/header") %>.


<h2 class="text-center text-uppercase">light & Bulbs</h2>

<div class="bm-page">
<div class="container">
<div class="row">
<% lights.forEach(function(light){ %>
<div class="order-lg-last">
<div class="mb-4 mb-lg-5 bm-content">
<div class="mb-4">
</div>
<div class="prod-listing">
<div class="d-none fa-3x prod-loading">
<i class="fas fa-circle-notch fa-spin"></i>
</div>
<div aria-hidden="true" class="row border-bottom mt-4 mx-md-auto"></div>
<ul class="row list-unstyled mb-0">
<li class="col-sm-6 col-md-4 bm-col-md bm-product-item">
<div class="align-items-center d-flex h-100 bm-product-link" href="/light">	
<div class="flex-shrink-0 mw-100 position-relative bm-product-link-img">
<img width="170" height="170" src="<%= light.image %>">	
</div>
<div class="flex-fill mw-100 bm-product-link-text">
<h3 class="d-block font-weight-normal h6 mb-0 text-body"><%= light.title %></h3>
<span class="d-block h5 mb-0 mt-1 text-body"><%= light.price%>DA</span>
<a href="/add-to-cart-light/<%= light._id %>" type="button" class="btn btn-outline-dark btn-sm">Achte</a>
</div>	
</div>	
</li>

</ul>
<div aria-hidden="true" class="row border-bottom mb-4 mx-md-auto"></div>
</div>


</div>
</div>
<% }); %>
</div>
</div>
</div>


<%- include ("../partials/footer") %>.
