<!DOCTYPE html>
<html lang="en">

<head>
<!-- Meta Pixel Code -->
<script>
  

  !function(f,b,e,v,n,t,s){
    if(f.fbq)return;n=f.fbq=function(){n.callMethod ?
    n.callMethod.apply(n,arguments) : n.queue.push(arguments)};
    if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
    n.queue=[];t=b.createElement(e);t.async=!0;
    t.src=v;s=b.getElementsByTagName(e)[0];
    s.parentNode.insertBefore(t,s);
  }(window, document, 'script', 'https://connect.facebook.net/en_US/fbevents.js');

   fbq('init', '633564199312760', {
    em: '<%= user ? user.email : "" %>',
    fn: '<%= user ? user.firstName : "" %>',
    ln: '<%= user ? user.lastName : "" %>',
    ph: '<%= user ? user.numero : "" %>'
  });
fbq('track', 'PageView');
</script>
<noscript>
  <img height="1" width="1" style="display:none"
       src="https://www.facebook.com/tr?id=549728007869525&ev=PageView&noscript=1"/>
</noscript>
<!-- End Meta Pixel Code -->
<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-K8PWQM45');</script>
<!-- End Google Tag Manager -->


  <meta name="facebook-domain-verification" content="plfly5a8dktgdy17nvv2h8zsrpc9g5" />
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Paintello | Login</title>
  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
  <!-- Bootstrap core CSS -->
  <link href="../../css/bootstrap.min.css" rel="stylesheet">
  <!-- Material Design Bootstrap -->
  <link href="../../css/mdb.min.css" rel="stylesheet">
  <style>
    html,
    body,
    header,
    .view {
      height: 100vh;
    }
    @media (max-width: 740px) {
      html,
      body,
      header,
      .view {
        height: 700px;
      }
    }
    @media (min-width: 800px) and (max-width: 850px) {
      html,
      body,
      header,
      .view {
        height: 650px;
      }
    }
  </style>
</head>

<body class="login-page">

  <!-- Main Navigation -->
  <header>

    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top scrolling-navbar white">
      <div class="container">
        <a class="navbar-brand font-weight-bold title"href="/">Paintello</a>
        <!--Navigation icons-->
        <ul class="nav navbar-nav nav-flex-icons ml-auto">
          <li class="nav-item dropdown">
                       <a class="nav-link dropdown" id="menu1" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-user  black-text"></i>
                      </a>
                      <div class="dropdown-menu dropdown-menu-right bootstrap-menu  white scrollbar-default" aria-labelledby="menu1">
                        <% if (login){ %>
                          <a class="dropdown-item" href="/user/profile">profile</a>
                           <a class="dropdown-item" href="/user/logout">Logout</a>
                           <% } else{ %>
                           <a class="dropdown-item" href="/user/signup">Register</a>
                           <a class="dropdown-item" href="/user/signin">Sing up</a>
                           <% } %>
                 </div> 
          </li>
          <li class="nav-item ">
                      <a class="nav-link " id="menu2" href="/shop" role="button"  aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-shopping-cart black-text"></i>
                        <% if(session.cart){ %>
                      <span class="mycounter"><%= session.cart.totalQty %></span>
                      <% } %>
                      </a>
          </li>
    
        </ul>
        
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02"
          aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
          
        </button>
        
        
        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
          <ul class="list-unstyled navbar-nav mr-auto">
         
            </li>
            <li class="nav-item ml-4">
              <a class="nav-link title" href="/wow" data-offset="90">Nos Services</a>
            </li>
            <li class="nav-item ml-4">
              <a class="nav-link title" href="/interior/gliter" data-offset="90">interior paint</a>
            </li>
            <li class="nav-item ml-4">
              <a class="nav-link title" href="/interior/kitchen" data-offset="90">Vinyl paint</a>
            </li>
            <li class="nav-item ml-4">
              <a class="nav-link title" href="/interior/spray" data-offset="90">outils</a>
            </li>
            <li class="nav-item ml-4">
              <a class="nav-link title" href="/return" data-offset="90">Returns</a>
            </li>
            
          </ul>
          
          <!-- Social Icon  -->
         
              </div>
      </div>
  
         
      </div>
      </div>
    </nav>
    <!-- Intro Section -->
    <section class="view intro-2" style="background-image: url(https://mdbootstrap.com/img/Photos/Others/images/91.jpg); background-repeat: no-repeat; background-size: cover; background-position: center center;">
      <div class="mask rgba-indigo-light h-100 d-flex justify-content-center align-items-center">
        <div class="container">
          <div class="row">
            <div class="col-xl-5 col-lg-6 col-md-10 col-sm-12 mx-auto mt-lg-5">

              <!-- Form with header -->
              <div class="card wow fadeIn" data-wow-delay="0.3s">
                <div class="card-body">

                  <!-- Header -->
                  <div class="form-header pink-gradient">
                    <h3>
                      <i class="fas fa-user mt-2 mb-2"></i> Log in:</h3>
                  </div>

                  <!-- Body -->
                  
                  <div class="md-form mb-0">
                    <form action="/user/signin" method="POST">
                    <i class="fas fa-user prefix white-text"></i>
                    
                    <input type="text" id="orangeForm-name" class="form-control" name="username" placeholder="Username">
                    <label for="orangeForm-name">Your name</label>
                    </div>

                  <div class="md-form mb-0">
                    <i class="fas fa-lock prefix white-text"></i>
                    <input type="password" name="password" id="orangeForm-pass" class="form-control" placeholder="Password">

                    <label for="orangeForm-pass">Your password</label>
                  </div>

                  <div class="text-center">
                    <button class="btn pink-gradient btn-lg">Sign up</button>
                  </form>
                    <hr>
                    
                    <div class="inline-ul text-center d-flex justify-content-center">
                      <a class="p-2 m-2 fa-lg tw-ic">
                        <i class="fab fa-twitter white-text"></i>
                      </a>
                      <a class="p-2 m-2 fa-lg li-ic">
                        <i class="fab fa-linkedin-in white-text"> </i>
                      </a>
                      <a class="p-2 m-2 fa-lg ins-ic">
                        <i class="fab fa-instagram white-text"> </i>
                      </a>
                    </div>
                  </div>

                </div>
              </div>
              <!-- Form with header -->

            </div>
          </div>
        </div>
      </div>
    </section>

  </header>
  <!-- Main Navigation -->




  <!-- SCRIPTS -->
  <!-- JQuery -->
  <script src="../../js/jquery-3.4.1.min.js"></script>
  <!-- Bootstrap tooltips -->
  <script type="text/javascript" src="../../js/popper.min.js"></script>
  <!-- Bootstrap core JavaScript -->
  <script type="text/javascript" src="../../js/bootstrap.js"></script>
  <!-- MDB core JavaScript -->
  <script type="text/javascript" src="../../js/mdb.min.js"></script>
  <script>
    new WOW().init();
  </script>
</body>

</html>
