<!DOCTYPE html>
<html lang="en">

<head>
<script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.1.1/crypto-js.min.js"></script>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="referrer" content="strict-origin-when-cross-origin">
<!-- Meta Pixel Code -->
<% if (process.env.FB_PIXEL_ID) { %>
<!-- Facebook Pixel Code -->


<script>
!function(f,b,e,v,n,t,s)
{if(f.fbq)return;n=f.fbq=function(){n.callMethod?
n.callMethod.apply(n,arguments):n.queue.push(arguments)};
if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
n.queue=[];t=b.createElement(e);t.async=!0;
t.src=v;s=b.getElementsByTagName(e)[0];
s.parentNode.insertBefore(t,s)}(window, document,'script',
'https://connect.facebook.net/en_US/fbevents.js');

// Create config object dynamically
var pixelConfig = {};

// Only add parameters that have values
<% if (user && user.email) { %> pixelConfig.em = '<%= user.email %>'; <% } %>
<% if (user && user.firstName) { %> pixelConfig.fn = '<%= user.firstName %>'; <% } %>
<% if (user && user.lastName) { %> pixelConfig.ln = '<%= user.lastName %>'; <% } %>
<% if (user && user.numero) { %> pixelConfig.ph = '<%= user.numero %>'; <% } %>
<% if (user && user._id) { %> pixelConfig.external_id = '<%= user._id %>'; <% } %>

// Initialize with dynamic config
fbq('init', '<%= process.env.FB_PIXEL_ID %>', pixelConfig);
fbq('track', 'PageView', {
eventID: '<%= eventId %>'
  }
);
</script>
<noscript>
  <img height="1" width="1" style="display:none" 
       src="https://www.facebook.com/tr?id=<%= process.env.FB_PIXEL_ID %>&ev=PageView&noscript=1"/>
</noscript>
<!-- End Facebook Pixel Code -->
<% } %>

<!-- End Meta Pixel Code -->
<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-K8PWQM45');</script>
<!-- End Google Tag Manager -->


<link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
  <meta name="facebook-domain-verification" content="plfly5a8dktgdy17nvv2h8zsrpc9g5" />
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Paintello</title>
  
<link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
<link rel="manifest" href="/favicon/site.webmanifest">  
  <meta name="theme-color" content="#ffffff">  <link href='https://cdn.jsdelivr.net/npm/boxicons@2.0.5/css/boxicons.min.css' rel='stylesheet'>
  <link rel="stylesheet" href="/assets/vendor/font-awesome/css/fontawesome-all.min.css">
  <link rel="stylesheet" href="/assets/vendor/animate.css/animate.min.css">
  <link rel="stylesheet" href="/assets/vendor/hs-megamenu/src/hs.megamenu.css">
  
  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
  <!-- Bootstrap core CSS -->
  <link href="/css/bootstrap.min.css" rel="stylesheet">
  <link href="/css/bmo.min.css" rel="stylesheet">
<!-- Add the slick-theme.css if you want default styling -->
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
<!-- Add the slick-theme.css if you want default styling -->
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css"/>
  <!-- Material Design Bootstrap -->
  <link href="/css/mdb.min.css" rel="stylesheet">
  <link href="/css/magiczoomplus.css" rel="stylesheet">
  <link href="/css/zoomm.css" rel="stylesheet">



 


  <style>
  .body{
    font-family: 'Roboto', sans-serif;
}
    .zoom {
 
  transition: transform .2s; /* Animation */
 
}
  


.zoom:hover {
  transform: scale(2); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
right: 12px;
    bottom: 12px;
    top: auto;
    left: auto;
}
   
.img{
  display: block;
  max-width: 230px;
  max-height: 95px;
  width: auto;
  height: auto;
}
      .prod-listing {
    position: relative;
    }
    .list-unstyled {
    padding-left: 0;
    list-style: none;
}
html,
    body,
    header,
    .view {
      height: auto;
    }
    @media (max-width: 740px) {
      html,
      body,
      header,
      .view {
        height: auto;
      }
    }
    @media (min-width: 800px) and (max-width: 850px) {
      html,
      body,
      header,
      .view {
        height: auto;
      }
    }
  
    
  </style>

</head>

<body>

 

    <!-- Navbar -->
    
    <nav class="navbar navbar-expand-lg navbar-light fixed-top scrolling-navbar white">
      <div class="container">
        <a class="navbar-brand font-weight-bold title"href="/">Paintello</a>
        <!--Navigation icons-->
        <ul class="nav navbar-nav nav-flex-icons ml-auto">
          <li class="nav-item dropdown">
                       <a class="nav-link dropdown" id="menu1" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-user  black-text"></i>
                      </a>
                      <div class="dropdown-menu dropdown-menu-right bootstrap-menu  white scrollbar-default" aria-labelledby="menu1">
                        <% if (login){ %>
                          <a class="dropdown-item" href="/user/profile">profile</a>
                           <a class="dropdown-item" href="/user/logout">Logout</a>
                           <% } else{ %>
                           <a class="dropdown-item" href="/user/signup">Register</a>
                           <a class="dropdown-item" href="/user/signin">Sing up</a>
                           <% } %>
                 </div> 
          </li>
          <li class="nav-item ">
                      <a class="nav-link " id="menu2" href="/shop" role="button"  aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-shopping-cart black-text"></i>
                        <% if(session.cart){ %>
                      <span class="mycounter"><%= session.cart.totalQty %></span>
                      <% } %>
                      </a>
          </li>
    
        </ul>
        
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02"
          aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
          
        </button>
        
        
        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
          <ul class="list-unstyled navbar-nav mr-auto">
         
            </li>
            <li class="nav-item ml-4">
              <a class="nav-link title" href="/contact" data-offset="90">Nos Services</a>>
            </li>
            <li class="nav-item ml-4">
              <a class="nav-link title" href="/sale/clean" data-offset="90">interior paint</a>
            </li>
            <li class="nav-item ml-4">
              <a class="nav-link title" href="/sale/furniteur" data-offset="90">Vinyl paint</a>
            </li>
            <li class="nav-item ml-4">
              <a class="nav-link title" href="/sale/wow" data-offset="90">outils</a>
            </li>
            <li class="nav-item ml-4">
              <a class="nav-link title" href="/track-login" data-offset="90">Returns</a>
            </li>
            
          </ul>
          
          <!-- Social Icon  -->
         
              </div>
      </div>
  
         
      </div>
      </div>
    </nav>
   <h2 class="text-center text-uppercase">WELCOME TO Paintello</h2>
<section class="view intro-2" style="background-image: url(https://mdbootstrap.com/img/Photos/Others/architecture.jpg); background-repeat: no-repeat; background-size: cover; background-position: center center;">
      <div class="mask rgba-gradient-1">
        <div class="container h-100 d-flex justify-content-center align-items-center">
          <div class="row h-100 d-flex justify-content-center align-items-center">

            <div class="col-md-10 col-lg-6 text-center text-md-left mt-5 pt-4 pt-md-0 mt-lg-0 mb-5 mb-md-0">
              <div class="white-text">
                <h1 class="h1-responsive font-weight-bold mt-sm-5 mb-4 wow fadeInLeft" data-wow-delay="0.3s">Clean Modern Layout For Your Web</h1>
                <hr class="hr-light wow fadeInLeft" data-wow-delay="0.3s">
                <h6 class="wow fadeInLeft" data-wow-delay="0.3s">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem repellendus quasi fuga nesciunt dolorum nulla magnam veniam sapiente, fugiat! Commodi sequi non animi ea dolor molestiae iste.</h6>
                <a class="btn pink-gradient btn-rounded btn-lg font-weight-bold wow fadeInLeft" data-wow-delay="0.4s">Get started</a>
                <a class="btn btn-white btn-rounded btn-lg orange-text font-weight-bold ml-lg-0 wow fadeInLeft" data-wow-delay="0.4s"><i class="fas fa-play-circle orange-text mr-2" aria-hidden="true"></i> Watch demo</a>
              </div>
            </div>

            <div class="col-md-10 col-lg-6 mt-5 mt-lg-0 wow fadeInRight" data-wow-delay="0.3s">
              <img src="https://mdbootstrap.com/img/Mockups/Transparent/Small/admin-new.png" alt="Sample Image" class="img-fluid">
            </div>

          </div>
        </div>
      </div>
    </section>
    <div class="mb-4"> 
     
      <div class="container bm-container-md">	
      <a class="d-block h-100 overflow-hidden bm-img-link" href="/wow" target="_self">
        <picture>
            <img alt="New Wallpaper now in store at B&amp;M." class="w-100 bm-lazyload ls-is-cached lazyloaded"  src="https://s3.gifyu.com/images/bSimU.png">
          </picture>
      </a>
      </div>	
      
      </div>
  </header>



<hr class="mt-4">
<!-- Main Layout -->
  <main>
<hr class="mt-4">
 


    <div class="container-fluid mb-5">

      <!-- Grid row -->
      <div class="row" style="margin-top: -100px;">

        <!-- Grid column -->
        <div class="col-md-12">

          <div class="card pb-5">
            <div class="card-body">

              <div class="container">

                <!-- Section: Contact v.2 -->
                <section class="text-center">

                  <!-- Section heading -->
                  <h2 class="font-weight-bold title h1 my-5">Contact us</h2>
                    </div>
                  <!-- Section description -->
                  <p class="grey-text w-responsive mx-auto mb-5">عندما يتعلق الأمر بمنازلنا، فإن الثقة والجودة أمران مهمان. يتعين على دهان إثبات هويتهم الحقيقية، وأنهم مؤهلون للقيام بالعمل عند الضرورة. </p>

                  <div class="row pt-5">
                     <div id="payment -errors" class="alert alert-danger  <% if (noError) { %> hidden <% } %>">
                      <%= errMsg %>
                    </div>
                    <!-- Grid column -->
                    <div class="col-md-8 col-xl-9 mb-4">
                     
                <form action="/power" method="post" >
                        <!-- Grid row -->
                        <div class="row">

                          <!-- Grid column -->
                          
                            <label class="form-label select-label">كم عدد الغرف التي تحتاج إلى طلاء/تزيين؟</label>
                                <select data-mdb-select-init type="text" class="custom-select" name="chambre" id="chambre">
                                 <option value="1">One</option>
                                  <option value="2">Two</option>
                                   <option value="3">Three</option>
                                    <option value="4">Four</option>
                                     <option value="5">Five Or +</option>
                                </select>
                                  
                             
                          
                          <!-- Grid column -->

                           
                          <!-- Grid column -->
                         <label class="form-label select-label">ما الذي تريد المساعدة فيه؟</label>
                                <select data-mdb-select-init  type="text" class="custom-select" name="help" id="help">
                                 <option value="1">دهن/ طلي</option>
                                  <option value="2">إزالة الطلاء</option>
                                   <option value="3">Other</option>
                                </select>
                                  
                              
                          <!-- Grid column -->
                        
                          <!-- Grid column -->
                           <label class="form-label select-label">ما هي حالة الجدران/الأسطح؟</label>
                                <select data-mdb-select-init  type="text" class="custom-select" name="etat" id="etat">
                                 <option value="1">في حالة جيدة (أي وجود عدد قليل من ثقوب خطاف الصورة أو الشقوق الصغيرة)</option>
                                  <option value="2">يحتاج إلى بعض الإصلاحات (أي الشقوق أو الثقوب المتعددة)</option>
                                   <option value="3">يحتاج إلى الكثير من الإصلاح (أي الشقوق الأكبر والجص التالف)</option>
                                </select>
                                
                              
                          <!-- Grid column -->
                           <!-- Grid column -->
                          <label class="form-label select-label">هل ستحتاج إلى المواد الموردة؟</label>
                                <select data-mdb-select-init  type="text" class="custom-select" name="product" id="product">
                                 <option value="1">لقد حصلت بالفعل على المواد</option>
                                  <option value="2">أرغب في أن يقوم Paintello بتوريد المواد</option>
                                   <option value="3">أحتاج إلى مناقشة الأمر مع التاجر</option>
                                </select>
                                  
                              
                          <!-- Grid column -->
                          <label class="form-label select-label">هل أنت المالك أو المخول لإجراء تغييرات على الملكية؟</label>
                                <select data-mdb-select-init  type="text" class="custom-select" name="owner" id="owner">
                                 <option value="1">انا المالك</option>
                                  <option value="2">أنا أملك وأعيش في هذا العقار</option>
                                   <option value="3">أنا مستأجر، ولكن لدي الحق في إجراء تغييرات على هذه الخاصية</option>
                                </select>
                                 
                              
                          <!-- Grid column -->

                             <label class="form-label select-label">متى تريد أن تبدأ العمل؟</label>
                                <select data-mdb-select-init  type="text" class="custom-select" name="time" id="time">
                                 <option value="1">عاجلا</option>
                                  <option value="2">خلال يومين</option>
                                   <option value="3">خلال اسبوعين</option>
                                    <option value="4">خلال شهرين</option>
                                </select>
                                  
                              
                          <!-- Grid column -->

                                  <label class="form-label select-label">في أي مرحلة أنت؟</label>
                                <select data-mdb-select-init  type="text" class="custom-select" name="etape" id="etape">
                                 <option value="1">أنا مستعد </option>
                                  <option value="2">أنا أخطط وأضع الميزانية</option>
                                   <option value="3">أحتاج إلى عرض أسعار لأغراض التأمين</option>
                                </select>
                                  
                              
                          <!-- Grid column -->
                            <label class="form-label select-label">تقريبًا، ما هي ميزانيتك؟</label>
                                <select data-mdb-select-init  type="text" class="custom-select" name="budge" id="budge">
                                 <option value="1">تحت 20000DA</option>
                                  <option value="2">تحت 50000DA</option>
                                   <option value="3">تحت 100000DA</option>
                                    <option value="4">تحت 200000DA</option>
                                </select>
                                  
                              

                          <!-- Grid column -->
                          <div class="col-md-6">
                            <div class="md-form mb-0">
                              <div class="md-form mb-0">
                                <input type="text" name="contactemail" id="contactemail" class="form-control">
                                <label for="contact-email" class="">Your email</label>
                              </div>
                            </div>
                          </div>
                          <!-- Grid column -->

                        </div>
                        <!-- Grid row -->

                        <!-- Grid row -->
                        <div class="row">
                          <div class="col-md-12">
                            <div class="md-form mb-0">
                              <input type="text" name="contactnum" id="contactnum" class="form-control">
                              <label for="contact-Subject" class="">Numéro téléphone</label>
                            </div>
                          </div>
                        </div>
                        <!-- Grid row -->

                       


                      <div class="text-center text-md-left mt-4">
                        <button type="submit" class="btn pink-gradient btn-rounded">Send</button>
                     </form>
                      </div>
                    </div>
                    <!-- Grid column -->

                    <!-- Grid column -->
                    <div class="col-md-4 col-xl-3">
                      <ul class="list-unstyled contact-icons">
                        

                        <li>
                          <i class="fas fa-phone fa-2x orange-text"></i>
                          <p>+ 213 555 73 75 57</p>
                        </li>

                        <li>
                          <i class="fas fa-envelope fa-2x orange-text"></i>
                          <p>Paintello.contact@gmail.com</p>
                        </li>
                      </ul>
                    </div>
                    <!-- Grid column -->

                  </div>

                </section>
                <!-- Section: Contact v.2 -->

              </div>
            </div>

          </div>
          <!-- Grid column -->

        </div>
        <!-- Grid row -->

      </div>

    </div>

  </main>
  <!-- Main Layout -->


 <!-- Footer -->
 <footer class="page-footer text-center text-md-left unique-color-dark pt-0">

    <div class="top-blue-footer">
      <div class="container">

        <!-- Grid row -->
        <div class="row py-4 d-flex align-items-center">

          <!-- Grid column -->
          <div class="col-md-6 col-lg-5 text-center text-md-left mb-md-0">
            <h6 class="mb-4 mb-md-0 white-text">Get connected with us on social networks!</h6>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-6 col-lg-7 text-center text-md-right">
            <!-- Facebook -->
            <a href='https://www.facebook.com/paintelllo'class="p-2 m-2 fa-lg fb-ic ml-0">
              <i class="fab fa-facebook-f white-text mr-lg-4"> </i>
            </a>
            
            <!-- Google + -->
            <a class="p-2 m-2 fa-lg gplus-ic">
              <i class="fab fa-google-plus-g white-text mr-lg-4"> </i>
            </a>
            
            <!-- Instagram -->
            <a href='https://www.instagram.com/paintelloo/'class="p-2 m-2 fa-lg ins-ic">
              <i class="fab fa-instagram white-text mr-lg-4"> </i>
            </a>
          </div>
          <!-- Grid column -->

        </div>
        <!-- Grid row -->

      </div>
    </div>

    <!-- Footer Links -->
    <div class="container mt-5 mb-4 text-center text-md-left">
      <div class="row mt-3">

        <!-- First column -->
        <div class="col-md-3 col-lg-4 col-xl-3 mb-5">
          <h6 class="spacing font-weight-bold">
            <strong>Paintello</strong>
          </h6>
          <hr class="pink accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
          <p>Paintello team is proud to be one of the most 
            popular paint companies in the city.</p>
        </div>
        
        <!-- Fourth column -->
        <div class="col-md-4 col-lg-3 col-xl-3">
          <h6 class="spacing font-weight-bold">
            <strong>Contact</strong>
          </h6>
          <hr class="pink accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
          <p>
            <i class="fas fa-home mr-3"></i> CHERAGA, Alger, Algerie</p>
          <p>
            <i class="fas fa-envelope mr-3"></i> Paintello.contact@gmail.com</p>
          <p>
            <i class="fas fa-phone mr-3"></i> + 213 555 73 75 57</p>
          <p>
            <i class="fas fa-phone mr-3"></i> + 213 791 67 96 11</p>
        </div>
        <!-- Fourth column -->

      </div>
    </div>
    <!-- Footer Links -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">
      <div class="container-fluid">
        © 2025 Copyright: Paintello.uk
      </div>
    </div>
    <!-- Copyright -->

  </footer>
  <!-- Footer -->
  <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
  <!-- JQuery -->
  <script type="text/javascript" src="../../js/jquery-3.4.1.min.js"></script>
  <!-- Bootstrap tooltips -->
  <script type="text/javascript" src="../../js/popper.min.js"></script>
  <!-- Bootstrap core JavaScript -->
  <script type="text/javascript" src="../../js/bootstrap.min.js"></script>
  <!-- MDB core JavaScript -->
  <script type="text/javascript" src="../../js/mdb.min.js"></script>
  <script type="text/javascript" src="../../js/magiczoomplus.js"></script>
<script src="https://scripts.sirv.com/sirv.js"></script>
<script src="https://scripts.sirv.com/sirv.nospin.js"></script>
  <script>

// Get the modal
var modal = document.getElementById("myModal");

// Get the image and insert it inside the modal - use its "alt" text as a caption
var imgs = document.getElementsByClassName("myImgLightBox");
var modalImg = document.getElementById("img01");
var captionText = document.getElementById("caption");
for(let img of imgs){
img.onclick = function(){
  modal.style.display = "block";
  modalImg.src = this.src;
  captionText.innerHTML = this.alt;
}
}

// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];

// When the user clicks on <span> (x), close the modal
span.onclick = function() {
  modal.style.display = "none";
}
window.onclick= function(event) {
  if (event.target == modal){
    modal.style.display="none";

  } 
}
    
  </script>
 
 
  <script>
    $('.carousel').carousel({
    pause: "false" /* Change to true to make it paused when your mouse cursor enter the background */
});
    // Animation init
    new WOW().init();
  </script>

</body>

</html>
