<!DOCTYPE html>
<html lang="en">

<head>
<script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.1.1/crypto-js.min.js"></script>

<!-- Meta Pixel Code -->
<% if (process.env.FB_PIXEL_ID) { %>
<!-- Facebook Pixel Code -->


<script>
!function(f,b,e,v,n,t,s)
{if(f.fbq)return;n=f.fbq=function(){n.callMethod?
n.callMethod.apply(n,arguments):n.queue.push(arguments)};
if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
n.queue=[];t=b.createElement(e);t.async=!0;
t.src=v;s=b.getElementsByTagName(e)[0];
s.parentNode.insertBefore(t,s)}(window, document,'script',
'https://connect.facebook.net/en_US/fbevents.js');

// Create config object dynamically
var pixelConfig = {};

// Only add parameters that have values
<% if (user && user.email) { %> pixelConfig.em = '<%= user.email %>'; <% } %>
<% if (user && user.firstName) { %> pixelConfig.fn = '<%= user.firstName %>'; <% } %>
<% if (user && user.lastName) { %> pixelConfig.ln = '<%= user.lastName %>'; <% } %>
<% if (user && user.numero) { %> pixelConfig.ph = '<%= user.numero %>'; <% } %>
<% if (user && user._id) { %> pixelConfig.external_id = '<%= user._id %>'; <% } %>

// Initialize with dynamic config
fbq('init', '<%= process.env.FB_PIXEL_ID %>', pixelConfig);
fbq('track', 'PageView');
  
</script>
<noscript>
  <img height="1" width="1" style="display:none" 
       src="https://www.facebook.com/tr?id=633564199312760&ev=PageView&noscript=1"/>
</noscript>
<!-- End Facebook Pixel Code -->
<% } %>

<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-K8PWQM45');</script>
<!-- End Google Tag Manager -->
<script type="text/javascript">
    (function(c,l,a,r,i,t,y){
        c[a]=c[a]||function(){(c[a].q=c[a].q||[]).push(arguments)};
        t=l.createElement(r);t.async=1;t.src="https://www.clarity.ms/tag/"+i;
        y=l.getElementsByTagName(r)[0];y.parentNode.insertBefore(t,y);
    })(window, document, "clarity", "script", "t8r0mi7k1l");
</script>
  <meta name="facebook-domain-verification" content="plfly5a8dktgdy17nvv2h8zsrpc9g5" />
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Paintello | Panier</title>
<link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
<link rel="manifest" href="/favicon/site.webmanifest">  
  <meta name="theme-color" content="#ffffff">  <link href='https://cdn.jsdelivr.net/npm/boxicons@2.0.5/css/boxicons.min.css' rel='stylesheet'>
  <link href='https://cdn.jsdelivr.net/npm/boxicons@2.0.5/css/boxicons.min.css' rel='stylesheet'>

  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
  <!-- Bootstrap core CSS -->
  <link href="../../css/bootstrap.min.css" rel="stylesheet">
  <link href="../../css/bmo.min.css" rel="stylesheet">

  <!-- Material Design Bootstrap -->
  <link href="../../css/mdb.min.css" rel="stylesheet">
  <style>
 .checkout-form {
      margin-top: 40px;
      border-top: 1px solid #ddd;
      padding-top: 20px;
    }  
.img{
  display: block;
  max-width: 230px;
  max-height: 95px;
  width: auto;
  height: auto;
}
      .prod-listing {
    position: relative;
    }
    .list-unstyled {
    padding-left: 0;
    list-style: none;
}
   
  </style>


</head>




  <header>

    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top scrolling-navbar white">
      <div class="container">
        <a class="navbar-brand font-weight-bold title"href="/">Paintello</a>
        <!--Navigation icons-->
        <ul class="nav navbar-nav nav-flex-icons ml-auto">
          <li class="nav-item dropdown">
                       <a class="nav-link dropdown" id="menu1" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-user  black-text"></i>
                      </a>
                      <div class="dropdown-menu dropdown-menu-right bootstrap-menu  white scrollbar-default" aria-labelledby="menu1">
                        <% if (login){ %>
                          <a class="dropdown-item" href="/user/profile">profile</a>
                           <a class="dropdown-item" href="/user/logout">Logout</a>
                           <% } else{ %>
                           <a class="dropdown-item" href="/user/signup">Register</a>
                           <a class="dropdown-item" href="/user/signin">Sing up</a>
                           <% } %>
                 </div> 
          </li>
          <li class="nav-item ">
                      <a class="nav-link " id="menu2" href="/shop" role="button"  aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-shopping-cart black-text"></i>
                        <% if(session.cart){ %>
                      <span class="mycounter"><%= session.cart.totalQty %></span>
                      <% } %>
                      </a>
          </li>
    
        </ul>
        
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02"
          aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
          
        </button>
        
        
       <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
          <ul class="list-unstyled navbar-nav mr-auto">
         
            </li>
            <li class="nav-item ml-4">
              <a class="nav-link title" href="/wow" data-offset="90">Nos Services</a>
            </li>
            <li class="nav-item ml-4">
              <a class="nav-link title" href="/interior/gliter" data-offset="90">interior paint</a>
            </li>
            <li class="nav-item ml-4">
              <a class="nav-link title" href="/interior/kitchen" data-offset="90">Vinyl paint</a>
            </li>
            <li class="nav-item ml-4">
              <a class="nav-link title" href="/interior/spray" data-offset="90">outils</a>
            </li>
            <li class="nav-item ml-4">
              <a class="nav-link title" href="/track-login" data-offset="90">Returns</a>
            </li>
            
          </ul>
          
          <!-- Social Icon  -->
         
              </div>
      </div>
  
         
      </div>
      </div>
    </nav>
 </header>

<body>



  <!-- Navigation & Intro -->
    
     <div class="checkout-form">
<!--Grid row-->
<!-- Your fixed logo here -->
  <div id="checkout-logo" style="text-align: center; margin-top: 20px;">
    <a href="/">
      <img src="/favicon/android-chrome-192x192.png" alt="Paintello Logo" style="max-height: 80px;">
    </a>
<a href="/">
      <img src="/img/logo.png" alt="Paintello Logo" style="max-height: 80px;">
    </a>
  </div>
    <div class="row">
      <% if (products) { %>
  
      <!--Grid column-->
      <div class="col-lg-8">
  
        <!-- Card -->
        <div class="card wish-list mb-3">
          <div class="card-body">
            <% if(session.cart){ %>
            <h5 class="mb-4">Cart (<span><%= session.cart.totalQty %></span> items)</h5>
            <% } %>
            
              <% products.forEach(function(product){ %>
            <div class="row mb-4">
              
 <div class="col-md-5 col-lg-3 col-xl-3">
<div class="flex-shrink-0 mw-100 position-relative bm-product-link-img">
                  <img id="myImg" class="myImgLightBox"  width="200" height="240"  src="<%= product.item.image %>" >	
                  </div>
                
              </div>
              <div class="flex-fill mw-100 bm-product-link-text">
                <h3 class="d-block font-weight-normal h6 mb-0 text-body"><%= product.item.title %></h3>
             <div class="quantity-controls d-flex align-items-center">
  <button class="btn btn-sm btn-outline-secondary btn-decrease" data-id="<%= product.item._id %>">−</button>
  <span class="mx-2 item-qty" data-id="<%= product.item._id %>"><%= product.qty %></span>
  <button class="btn btn-sm btn-outline-secondary btn-increase" data-id="<%= product.item._id %>">+</button>
</div>
<li class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 pb-0">
   amount
  <span class="product-subtotal" data-id="<%= product.item._id %>">
  <%= product.price %> DA
</span>

</li>
              </div>
                </div>
        <% }); %>

              </div>
              
            </div>
        
            

            <hr class="mb-4">
            
          </div>
          
        </div>
        <!-- Card -->
        
        <!-- Card -->
        <div class="card mb-3">
          <div class="card-body">
  
            <h5 class="mb-4">Expected shipping delivery</h5>
  
            <p class="mb-0"> Entre 1 à 4 jours </p>
          </div>
        </div>
        <!-- Card -->
        <div class="col-lg-4">
  
          <!-- Card -->
          <div class="card mb-3">
            <div class="card-body">
              
              <h5 class="mb-3">The total amount of</h5>
    
              <ul class="list-group list-group-flush">
                <li class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 pb-0">
                 Total Temporary amount
                  <span id="total-price"><%= totalPrice %> DA</span>
                </li>
                
               
           
              </ul>
              <form method="GET" action="/checkout" class="d-flex justify-content-between align-items-center">
  <!-- Commander button with total -->
  <button type="submit" class="btn pink-gradient btn-lg d-flex justify-content-between align-items-center w-100 me-2">
    <span>Commander</span>
    <span id="btn-total" class="ms-3"><%= totalPrice %> DA</span>
  </button>

  <!-- Call button -->
 <!-- Call button -->
<a href="tel:0791679611" class="btn btn-light btn-lg d-flex align-items-center border">
  <i class="fas fa-phone-alt" style="color:#f4791f;"></i>
</a>

</form>
             
  
    
  
            </div>
          </div>
        
        
          
     
        <!-- Card -->
  
      </div>
      <!--Grid column-->
  
      
      <!--Grid column-->
  
    </div>
    <!--Grid row-->
    <% } else { %>
    <div class="row">
      <div class="col-10 offset-1 text-center">
          <p class="bloded">Your shopping cart is currently empty </p>
          <a href="/" class="btn btn-primary">Back to shopping</a>
      </div>
  </div>
  </div>


  <% } %>
  
  </section>
  <!--Section: Block Content-->
<script>
  function trackCheckout(totalPrice) {
    fbq('track', 'InitiateCheckout', {
      value: totalPrice,
      currency: 'DZD'
    });
  }

  // Bind the tracking to the button click
  document.addEventListener('DOMContentLoaded', function () {
    const checkoutBtn = document.querySelector('form[action="/checkout"] button');
    if (checkoutBtn) {
      checkoutBtn.addEventListener('click', function () {
        trackCheckout(<%= totalPrice %>);
      });
    }
  });
</script>
<script>
document.querySelectorAll('.btn-increase').forEach(button => {
  button.addEventListener('click', () => updateQty(button.dataset.id, 'increase'));
});

document.querySelectorAll('.btn-decrease').forEach(button => {
  button.addEventListener('click', () => updateQty(button.dataset.id, 'decrease'));
});

function updateQty(productId, action) {
  fetch(`/cart/${action}/${productId}`, {
    method: 'POST'
  })
  .then(res => res.json())
  .then(data => {
    document.querySelector(`.item-qty[data-id="${productId}"]`).innerText = data.qty;
    document.querySelector(`.product-subtotal[data-id="${productId}"]`).innerText = data.itemTotal + ' DA';
    document.getElementById('total-price').innerText = data.totalPrice + ' DA';
  })
  .catch(err => console.error(err));
}
</script>
<script>
 const basePrice = 3300 ;
    let shippingPrice = 0;

    function addToCart() {
      const quantity = document.getElementById('qty').value;

      fetch('/api/cart', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify({
          price: product.price ,
          quantity: parseInt(quantity)
        })
      })
    }



    function updateShipping() {
      const wilaya = document.getElementById('wilaya').value;
      const costDisplay = document.getElementById('shipping-cost');
      const shippingPrices = {
        "ADRAR": 800,
  "CHLEF": 500,
  "LAGHOUAT": 650,
  "OUM EL BOUAGHI": 550,
  "BATNA": 550,
  "BEJAIA": 500,
  "BISKRA": 600,
  "BECHAR": 750,
  "BLIDA": 300,
  "BOUIRA": 450,
  "TAMANRASSET": 900,
  "TEBESSA": 600,
  "TLEMCAN": 500,
  "TIARET": 500,
  "TIZI OUZOU": 400,
  "DJELFA": 600,
  "JIJEL": 500,
  "SETIF": 550,
  "SAIDA": 500,
  "SKIKDA": 550,
  "SIDI BELABBES": 500,
  "GEULMA": 550,
  "ANNABA": 550,
  "CONSTANTINE": 500,
  "MEDEA": 450,
  "MOSTAGANEM": 450,
  "MESILA": 500,
  "MASCARA": 500,
  "OUERGLA": 700,
  "EL BAYADH": 750,
  "BOUMERDAS": 350,
  "EL TAREF": 600,
  "TINDOUF": 1000,
  "TISSEMSIL": 500,
  "EL OUED": 700,
  "KHENCHLA": 600,
  "SOUK AHRAS": 600,
  "TIPAZA": 350,
  "MILA": 500,
  "AIN DEFLA": 400,
  "NAAMA": 750,
  "AIN TEMOUCHENT": 500,
  "GHARDAIA": 700,
  "RELIZANE": 500,
  "ALGIERS": 300,
  "ORAN": 400,
  "EL MEGHAIAR": 700,
  "EL MENIA": 750,
  "OULED DJELLAL": 650,
  "BENI ABBES": 800,
  "TIMIMOUN": 800,
  "TOUGGOURT": 700,
  "DJANET": 950,
  "IN SALEH": 850,
  "IN GUEZZAM": 1000,
  "BORDJ BADJI MOKHTAR": 950,
  "TARF": 600,
  "ILLIZI": 950,
  "TAMANRASSET": 900
};

      shippingPrice = shippingPrices[wilaya] || 0;

      if (shippingPrice > 0) {
        costDisplay.textContent = `Shipping Cost: ${shippingPrice} DA`;
      } else {
        costDisplay.textContent = '';
      }

      updateTotal();
    }

    function updateTotal() {
      const quantity = parseInt(document.getElementById('qty').value) || 1;
      const total = basePrice * quantity + shippingPrice;
      document.getElementById('total-price').textContent = `Total: ${total.toLocaleString()} DA`;
    }
  </script>
<!--Start of Tawk.to Script-->
<script type="text/javascript">
var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
(function(){
var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
s1.async=true;
s1.src='https://embed.tawk.to/682625d0a2b6be190d3ada7e/1irag7e08';
s1.charset='UTF-8';
s1.setAttribute('crossorigin','*');
s0.parentNode.insertBefore(s1,s0);
})();
</script>
<!--End of Tawk.to Script-->
</body>
 
<%- include ("../partials/footer") %>.
